.home-container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .amount-in-count {
    width: 70%;
    height: 60px;
    margin: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    .amount-number {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 2rem;
        margin-right: 20px;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
  .options-with-amount {
    width: 70%;
    height: 60px;
    margin: 0px 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    .options-items-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .options-item {
        font-size: 0.9rem;
        list-style: none;
        width: 25%;
        height: 60%;
        border-right: 1px solid #c4c4c4;
        text-align: center;
        padding: 5px;
      }
      .options-item:last-child {
        border: none;
      }
    }
  }
}
.records-account {
  width: 70%;
  margin: 30px 40px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  .records-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .item-records {
      width: 90%;
      height: 40px;
      border-bottom: 1px solid #c4c4c4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  }
}
